---
title: Ranmocy's
tagline: 情，思，技
---

scss:
  #category.lists {
    @media screen and (min-width: 1200px) {
      width: 33%;
      margin: 1em 0;
      display: inline-block;
      vertical-align: top;
      .cross-line {
        width: 80%;
      }
    }
  }

- groups.each do |group, category_list|
  #category.lists
    .title = group.to_s.capitalize
    .cross-line
    p
      - category_list.each do |category_name|
        .item
          == link_to category_item(category_name), "/#{category_name}/", title: motto[category_name]
          .motto = motto[category_name]
