<!-- <div id="google_translate_element"></div>
 -->
<div class="declare">
  <a href="https://profiles.google.com/Ranmocy">Google</a>
  <a href="https://www.facebook.com/ranmocy">Facebook</a>
  <a href="https://twitter.com/#!/ranmocy">Twitter</a>
  <a href="mailto:ranmocy@gmail.com">Email</a>
</div>
<div class="declare">
  <span class="ranmocy logo">Ranmocy</span>
  , the ONLY Author.
  <p>来自 #大连 人在 #上海<br/>
    些许 #English #日本語 #Deutsch<br/>
    我是 #SJTUer #NIMOer #MEer #OIer<br/>
    喜欢 #Philosophy #Coding #Movie #ACG<br/>
    使用 #Emacs #MacOS #ROR #LaTeX #Chrome<br/>
    没有钱，没有车，没有房，有大脑，有干劲，有希望。
  </p>
</div>
<div class="declare">
  <span class="ranmocy logo">燃魔兮</span>
  燃魔曦，燃魔蜥。
  <p>性别男，爱好女。<br/>
    生活小慢，行动小懒。<br/>
    低俗不可耐，乖戾不可爱。<br/>
    成天胡言乱语，扰乱群众情绪。<br/>
    想念他时他不在，无视他时他乱来。<br/>
    天生丽质难以自弃，千金散尽还能回来。
  </p>
</div>
<div class="declare">
  <p>IE不保证正常显示，要是IE6请看我鄙视的目光。<br/>
    推荐使用最新版本的Chrome, Safari, Firefox来浏览。<br/>
    推荐在夜深人静时候阅读，可以静下心来。尤其网速较快。<br/>  1min登陆本站，均属网络正常，不要哭爹喊娘，奈何人品有伤。
  </p>
</div>
<div class="passing">
  <h2 class="label">Passing Memories</h2>
  {% for category in site.categories  %}
    <span>{{ category | first }} {{ category | last | size }} </span>
    <ol class="passing_list">
      {% for article in category[1]  %}
      <li class="passing_item">
        <a href="{{ article.url }}" title="{{ article.title }}" rel="bookmark">[{{ category[0] }}] {{ article.title }}</a>
        &raquo;
        <span class="date">{{ article.date | date_to_string }}</span>
      </li>
      {% endfor %}
    </ol>
  {% endfor %}
</div>
<!-- <div class="passing">
  <h2 class="label">Say to ME</h2>
  = render 'comment_form'
</div> -->
<footer>
  {% for line in site.copyright %}
    <p>{{ line }}</p>
  {% endfor %}
</footer>
