@import "colors";
@import "link_color";
@import "arrow";

// Lists
.lists {
    font-size: 90%;
    width: 90%;
    color: lighten(black, 30%);
    margin: 2em auto;
    text-align: center;
    .title {
        display: inline-block;
        font: 1.6em 'Raleway','sans-serif';
        margin: 0 auto;
        padding: 0 1em;
        background-color: $bg;
    }
    .cross-line {
        width: 50%;
        margin: -1em auto 0 auto;
        border-top: darken($bg, 50%) solid 1px;
    }
    .small-line {
        width: 30%;
    }
    .item {
        text-align: center;
        margin-bottom: 1em;
        a {
            font: normal 23px/32px serif;
            @include link_color(black, $red);
        }
    }
}
