@import "link_color";

aside#timemachine {
  @media screen and (max-width: 800px) {
    display: none;
  }
  position: fixed;
  text-align: center;
  margin: 0 1.5em;
  font-size: 12px;
  .time a {
      @include link_color(lighten(black, 20%), $red);
      line-height: 1.5em;
      &:hover {
        font-size: 120%;
      }
  }
}
