aside {
  width: 200px;
  position: fixed;
  left: 0px;
  padding: 0 5px;

  color: $side_color;
  font-size: $tiny;

  h2 {
    color: $side_title_color;
  }

  fieldset {
    border: none;
    border-top: 2px solid $side_color;
    legend {
      color: $side_title_color;
      font-size: $normal;
    }
  }

  ol {
    font-size: $normal;
  }
  .group_life ol { list-style-type: lower-greek; }
  .group_idea ol { list-style-type: armenian; }
  .group_work ol { list-style-type: decimal-leading-zero; }

  section a, footer a {
    color: $info_color;
    font-size: 120%;
  }
}
