aside {
  width: 200px;
  position: fixed;
  left: 0px;
  padding: 0 5px;

  color: lighten($fr, 80%);
  font-size: $tiny;

  h2 {
    color: lighten($fr, 50%);
  }

  fieldset {
    border: none;
    border-top: 2px solid lighten($fr, 80%);
    legend {
      color: lighten($fr, 50%);
      font-size: $normal;
    }
  }

  ol {
    font-size: $normal;
    list-style-type: hebrew;
    // list-style-type: upper-greek;
  }

  section a, footer a {
    color: lighten($fr, 60%);
    font-size: 120%;
  }
}
