body {
  color: $fr_color;
  background: $bg_color;
  font-size: $normal;
}

body > header, body > article {
  width: 70%;
  margin: 0px;
  margin-left: 20%;
}

body > header {
  color: $title_color;
  dd {
    color: $info_color;
    font-size: $tiny;
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:hover, &.active {
    color: $active_color;
  }
}

.label {
  font-family: 'Raleway','sans-serif';
}
