body {
  color: $fr;
  background: $bg;
  font-size: $normal;
}

body > header, body > section {
  width: 70%;
  margin: 0px;
  margin-left: 20%;
}

body > header {
  color: lighten($fr, 30%);
  h1 > span, dd {
    color: lighten($fr, 60%);
    font-size: $tiny;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
