$tiny: 12px;
$normal: 18px;
$large: 24px;
$huge: 48px;

$fr_color: lighten(black, 10%);
$bg_color: darken(white, 1%);

$title_color: lighten($fr_color, 30%);
$info_color: lighten($fr_color, 60%);
$active_color: $fr_color;
$side_color: lighten($fr_color, 70%);
$side_title_color: darken($side_color, 20%);
