@import 'variables';
// @import 'components';

// @import 'sidebar';
// @import 'header';
// @import 'category_list';
// @import 'article';

body {
  background: $bg;
  color: $fr;
  // text-shadow: 1px 1px 0px $bg_sh;

  font-family: 'Microsoft YaHei', 'STHeiti', 'Arial', Sans;
  font-size: $normal;
  line-height: 1.8em  ;
}

aside, footer {
  position: fixed;
  left: 0px;

  width: 20%;
  height: 70%;

  overflow: hidden;
  .inner {
    overflow: scroll;
    width: 101%
  }
}

body > header, body > article {
  width: 60%;
  margin: 0px auto;
  padding: 1%;

  text-align: center;
}
